.group-title {
	background-color: rgba(255, 255, 255, 0.6);
	font-size: x-large;
	text-align: center;
	margin: 2rem;
	padding: 1rem;
	border: 0.2rem;
	border-style: solid;
}
.activity-title {
	background-color: rgba(171, 255, 169, 0.6);
	font-size: 3rem;
	text-align: center;
	margin: 2rem;
	padding: 1rem;
	border: 0.2rem;
	border-style: solid;
}
.activity-ideas {
	display: grid;
	justify-content: center;
}
.activity-ideas h3 {
    text-align: center;
}
.activity-create-textbox {
	background-color: rgb(213, 255, 222);
    padding: 1rem;
    text-align: center;
}
.activity-idea {
	background-color: white;
	padding: 1rem;
}
.activity-ideas-list {
    margin-top: 0;
    padding: 0;
	height: 5rem;
	overflow: auto;
}
.equipment-list-container{
    display: grid;
    justify-content: center;
}