main {
	padding: 1rem;
	background-color: azure;
	text-align: center;
	display: flex;
	justify-content: center;
}

.item {
	padding: 0.3rem;
	padding-left: 1rem;
	display: flex;
	gap: 0.6rem;
	justify-content: space-between;
	border-style: solid;
	border-width: 0.2rem;
}
.items-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	background-color: black;
	width: fit-content;
	margin: 0;
}
.unassigned-item {
	background-color: lightpink;
}
.promised-item {
	background-color: lightgreen;
}
.your-item {
	background-color: rgb(134, 255, 170);
}
.users-list {
	border-style: solid;
	gap: 0.7rem;
	display: flex;
	flex-direction: column;
	padding: 0.3rem;
	background-color: var(--content-color);
	width: auto;
	margin: 0;
}
.users-list-container {
	display: flex;
	flex-direction: column;
}
.filter-on {
	background-color: darkgray;
}
.users-items-list {
	padding: 0;
	direction: rtl;
}
.not-group-member {
	border-style: solid;
	gap: 0.7rem;
	display: flex;
	flex-direction: column;
	padding: 0.3rem;
	background-color: var(--content-color);
	width: fit-content;
	margin: 0;
}
.add-items-container {
}
