* {
	--bg-color: forestgreen;
	--main-color: saddlebrown;
	--content-color: wheat;
	--content-color-alt: cornsilk;
	--main-color-hover: rgb(10, 90, 10);
	--content-color-hover: pink;
	--input-field-focus: rgb(255, 225, 230);
	--border-color: saddlebrown;
	--border-color-alt: burlywood;
}
html,
body {
	margin: 0;
	display: block;
	justify-content: center;
	background-color: rgb(255, 190, 168);
	/* height:100%; */
	height: 100%;
}
header {
	min-width: 20rem;
	display: flex;
	justify-content: center;
}
