.hello {
	margin: 0rem;
}

.main-group-panel {
	display: block;
	position: relative;
	height: auto;
	min-height: 100%;
}

.group-info {
	background-color: var(--content-color);
	color: var(--main-color)
}

.survey-button{
	color:var(--main-color);
	background-color: var(--content-color-alt);
}
.create-survey{
	display: none;
	width: fit-content;
	background-color: var(--content-color);
}